@import url(root.css);
@import url(components/header.css);
@import url(components/welcome.css);
@import url(components/categories.css);
@import url(components/products.css);
@import url(components/s-video.css);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  height: 100%;
  font-family: var(--ff);
  color: var(--c-color-black);
  font-size: 16px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

.container {
  max-width: 1240px;
  margin-inline: auto;
}
.pirosmani-btn {
  display: inline-block;
  color: var(--ffffff);
  border-radius: 5px;
  background-color: var(--00ac4e);
  transition: var(--transition);
}
.pirosmani-btn:hover {
  opacity: 0.7;
  color: var(--c-color-black);
}
.none {
  display: none !important;
}
