.categories {
  padding: 25px 0 30px;
}
.categories-content {
  position: relative;
  overflow: hidden;
  padding: 0 50px;
}
.categories-title {
  display: block;
  font: var(--text-400-23-100-ff);
  color: var(--c-color-txt-3);
  white-space: nowrap;
  text-transform: uppercase;
  width: auto !important;
  transition: var(--transition);
}
.categories-title:hover {
  color: var(--00ac4e);
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
  background-image: url(../../img/categories/arrow-r.svg);
  width: 14px;
  height: 24px;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
  background-image: url(../../img/categories/arrow-r.svg);
  width: 14px;
  height: 24px;
  transform: scaleX(-1);
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
}
.swiper-button-next,
.swiper-button-prev {
  width: inherit;
  padding: 0 6px;
  background-color: var(--ffffff);
}

