.header {
  box-shadow: var(--c-box-shadow-header);
  background-color: var(--ffffff);
}
/* reset styles START*/
.bg-light {
  background-color: inherit !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-brand {
  margin-right: 0;
}
.nav-link {
  padding: 0;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-item {
  padding: 0;
}
.dropdown-menu[data-bs-popper] {
  margin-top: 0;
}
.dropdown-menu {
  padding: 0;
}
p {
  margin-bottom: 0;
}
/* reset styles END*/
.header .navbar-brand {
  padding-right: 60px;
}
.header .navbar-nav {
  gap: 20px 25px;
}
.header .nav-link {
  font: var(--text-500-18-100-ff) !important;
  color: var(--c-color-txt) !important;
}
.header .dropdown-menu {
  box-shadow: var(--c-box-shadow-header);
  background: var(--ffffff);
  border-radius: 12px;
  min-width: 13em;
  overflow: hidden;
}
.header .dropdown-item {
  align-items: end;
  column-gap: 10px;
  padding: 8px 15px;
}
.header .dropdown-item__img {
  display: inline-block;
  flex-shrink: 0;
}
.header .dropdown-item__name {
  font: var(--text-400-14-100-ff);
  color: var(--c-color-txt);
}

.header .navbar-right {
  flex-wrap: wrap;
  row-gap: 20px;
}
.header .navbar-contact__link {
  white-space: nowrap;
  gap: 0 5px;
  padding-right: 65px;
}
.header .navbar-contact__link span {
  display: inline-block;
  font: var(--text-500-18-117-ff);
  color: var(--c-color-black);
}
.header .navbar-user {
  gap: 0 30px;
}
