.welcome {
  margin-top: 60px;
}
.swiper-pagination-bullet-active {
  border-radius: 3px;
  width: 30px;
  height: 8px;
  background: var(--ffffff);
}

.welcome-content {
  box-shadow: var(--c-box-shadow-welcome);
  background: var(--c-background-welcome);
  gap: 0 20px;
  border-radius: 18px;
}
.welcome-left {
  padding: 40px 0 60px 40px;
  margin-right: -200px;
}
.welcome-left__title {
  font: var(--text-400-31-100-ff);
  color: var(--c-color-txt);
  margin-bottom: 9px;
}
.welcome-left__desc {
  font: var(--text-400-19-100-ff);
  color: var(--c-color-txt-2);
  margin-bottom: 31px;
}
.welcome-left__btn {
  padding: 11px 32px;
  font: var(--text-500-25-100-ff);
}
